* {
	font-family: 'Montserrat';
}

#main {
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1 {
	color: #012756;
	text-align: center;
}

h2 {
	color: #012756;
}

#container2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#container2 div {
	padding-right: 100px;
	display: flex;
	align-items: center;
	justify-content: center
}

#box1 p{
	font-size: x-large;
	color: #012756;
	font-weight: 700;
	padding-right: 15px;
}

#box2 p{
	font-size: x-large;
	color: #012756;
	font-weight: 700;
	padding-right: 15px;
}

#disclaimer {
	font-style: italic;
	text-align: center;
    bottom: 0;
}